html {
    background-color: #4b8bd4;
    background-image: url('./wasteland.jpg');
}

.title {
    color: aliceblue;
}

#quizlist {
    display: none
}

#next {
    display: none
}

footer {
    margin-top: 20px;
}